<log4net>
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\AutoFinderAPI.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger %method %username - %message%newline%exception" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="FileAppender" />
	</root>
</log4net>